.services {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #b6b6b6;
  border-radius: 12px;
}

.service-title {
  margin-top: 0;
  color: #b68a36;
  font-size: 20px;
  font-weight: 400;
}

.services-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.service-card {
  width: calc(33.3% - 45px);
  padding: 20px 15px;
  border: 1px solid #b6b6b6;
  border-radius: 12px;
}

.service-card-head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.service-card-head > img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 12px;
}

.service-card-body {
  display: flex;
  align-items: center;
  justify-content: end;
}

.service-card-body > a {
  text-transform: capitalize;
  margin-right: 20px;
  color: #b68a36;
  font-weight: 600;
}

.service-card-body > a:last-child {
  margin-right: 0;
}

.service-card-link {
  padding: 6px 12px;
  background-color: #b68a36;
  border-radius: 10px;
  color: #fff !important;
  text-decoration: none;
}
