.App {
  position: relative;
  background-color: #d8d8d8;
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.App-content {
  background-color: white;
  max-width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  padding: 0 20px;
  width: 80%;
  background-color: #fff;
}

.call {
  padding: 15px;
  border: none;
  background-color: #b68a36;
  position: fixed;
  bottom: 50px;
  left: 3%;
  border-radius: 50%;
  cursor: pointer;
}

.call-picture {
  position: fixed;
  left: -6%;
  bottom: 0;
  top: 0;
  width: 40%;
  height: 100vh;
  object-fit: contain;
}

.kudos-main {
  padding: 45px 0;
}

.tab {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.tab-btn {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 15px;
  margin-right: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.image-container > img {
  width: 100%;
  object-fit: cover;
}

.tab-btn > img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
